$main-text-color: #000000;
$border-color: #F0F2F3;
.main-header {
    display: flex;
    border-bottom: 1px solid $border-color;
}

.logo {
    &__image {}
}

.sd {
    font-family: YS Text;
    font-size: 14px;
    line-height: 18px;
    color: $main-text-color;
}